---
title: About
heading: About me.
subtitle: Computer physicist with interest in geometry reconstruction and light transport computation.
---


		<h2 class="editable">Szczepaniak Bartek</h2>
		<p class="subtext editable">Computer Physics student, industrial design and web app developer.</p>


**More Information.**

<section class="hero diagonal">
	<div class="container">
I'm currently studding at AGH UST in Krakow, Poland at Computational Physics department. My working experience include web app development, scientific visualisation, polyhedral photo reconstruction, virtual products visualisation and industrial concepts design.

**Skills.**

* Programming
  * C,C++,Python,Wolfram (advanced)
  * Pascal,R,Julia,MatLab,Sage (basic)
* Web app
  * PHP,CSS,JS,WebGL
* Polyhedral
  * Photogrametry (SFM,MVS,SFS,IR)
  * Modeling (Blender,Maya)
  * Sculpting (Blender,MudBox)
* Rendering
  * Real-time (KeyShot, Eevee, WebGL,UE4)
  * PT-PBR (Cycles, LuxRender, Mitsuba, Indigo)
* Graphics
  * Raster (Photoshop, RawTherapee, Darktable)
  * Vector (InkScape, Corel)

**Competencies.**

* Engineering (model creation, implementation, testing, visualisation)
* Design (concept, previsualisation, interactive virtual model, photo realistic rendering)
* Web (CMS Templating, JS, SAAS, LESS)

	</div>
</section>

<!--
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
//-->
