---
title: About
heading: About me.
subtitle: "I'm currently studying at AGH UST in Krakow at the Faculty of Computational Physics. My working experience includes web app development, scientific visualization, polyhedral modeling, photogrammetric model reconstruction, virtual products visualization and industrial concepts design."
---



<section class="diagonal patterned">
	<div class="container">
	    <p class="editable">Skills.<br />* Programming<br />&nbsp;* C,C++,Python,Wolfram (advanced) * Pascal,R,Julia,MatLab,Sage (basic)<br />* Web app<br />&nbsp;* PHP,CSS,JS,WebGL<br />* Polyhedral<br />&nbsp;* Photogrametry (SFM,MVS,SFS,IR)<br />&nbsp;* Polygon modeling (Blender,Maya)<br />&nbsp;* Sculpting (Blender,MudBox)<br />*Rendering<br />&nbsp;* Real-time (KeyShot, Eevee, WebGL,UE4)<br />&nbsp;* PT-PBR (Cycles, LuxRender, Mitsuba, Indigo)<br />* Graphics<br />&nbsp;* Raster (Photoshop, RawTherapee, Darktable)<br />&nbsp;* Vector (InkScape, Corel)<br /><br />Competencies.<br />* Engineering (numerical model creation, implementation, testing, visualisation)<br />* Design (concept, previsualisation, interactive virtual model, photo realistic rendering)<br />* Web (CMS Templating, JS, SAAS, LESS)</p>
	</div>
</section>

<!--
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		
	

//-->
